<section id="start" class="main_startpage no-select">
  <div class="navbar">
    <div class="language-switch" [class.hide-language-switch]="isMenuOpen">
      <button (click)="switchLanguage('de')" class="lang-button">
        <img
          src="../../assets/img/deutschland.png"
          alt="Deutsch"
          class="flag-icon"
        />
      </button>
      <button (click)="switchLanguage('en')" class="lang-button">
        <img
          src="../../assets/img/vereinigtes-konigreich.png"
          alt="English"
          class="flag-icon"
        />
      </button>
      <div class="hamburger" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="menu">
        <a href="#about_me_section">{{ "ABOUT_ME" | translate }}</a>
        <a href="#skill_stack">{{ "SKILL_SET" | translate }}</a>
        <a href="#project_section">{{ "MY_WORK" | translate }}</a>
      </div>
      <div
        class="dropdown_menu"
        [class.open]="isMenuOpen"
        (click)="closeMenu()"
      >
        <a (click)="closeMenu()" href="#about_me_section">{{
          "ABOUT_ME" | translate
        }}</a>
        <a (click)="closeMenu()" href="#skill_stack">{{
          "SKILL_SET" | translate
        }}</a>
        <a (click)="closeMenu()" href="#project_section">{{
          "MY_WORK" | translate
        }}</a>
      </div>
    </div>
  </div>
</section>
