.about_me_section {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #c896fa;
}

.ellipse_mittel {
  position: absolute;
  left: 700px;
  top: -103px;
  clip-path: inset(50% 0 0 0);
  z-index: 20;
}

.ellipse_klein {
  position: absolute;
  right: 50px;
  z-index: 20;
  top: 60px;
}

.ellipse_klein2 {
  position: absolute;
  left: 180px;
  z-index: 20;
  bottom: 0;
}

.content_about_me {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left_content_about_me {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  padding: 80px;

  p {
    font-family: "Baloo", sans-serif;
    font-size: 80px;
    line-height: 1;
    margin: 0;
    margin-bottom: 65px;
    text-align: center;
  }

  h5 {
    font-size: 45px;
    margin: 20px;
    font-family: "Baloo", sans-serif;
  }

  .ich_bin_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .short_infos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    width: 200px;
    img {
      object-fit: cover;
    }
  }

  .pc_img {
    padding-bottom: 20px;
    transition: opacity 0.3s ease;
    width: 59px;
    height: 52px;
  }

  .koffer_img {
    width: 30px;
    height: 49px;
  }
}

.right_content_about_me {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  flex: 1;
  // width: 200px;
  font-size: 23px;
  padding: 80px;

  p {
    color: #3b3b3b;
  }

  .message_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-decoration: none;
    width: 254px;
    height: 58px;
    border-radius: 10px;
    border: 2px solid #c896fa;
    color: #c896fa;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: #c896fa;
      color: white;
    }
  }
}

@media only screen and (max-width: 1150px) {
  .about_me_section {
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media only screen and (max-width: 1380px) {
  .about_me_section {
    display: flex;
    justify-content: center;
    align-items: center;

    .right_content_about_me {
      justify-content: center;
      align-items: center;
      font-size: 18px;
      flex: 2;
      padding: 20px;
      text-align: center;
    }
    .left_content_about_me {
      padding: 20px;
      gap: 0;

      p {
        font-size: 30px;
        margin-bottom: 10px;
      }

      .ich_bin_container {
        justify-content: flex-start;
        flex-direction: column;
        gap: 0;
      }
    }
    .ellipse_mittel {
      display: none;
    }
    .ellipse_klein {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .about_me_section {
    height: auto;
  }
  .content_about_me {
    flex-direction: column;
  }

  .about_me_section {
    margin-bottom: 30px;
  }

  .right_content_about_me {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .right_content_about_me {
    margin-bottom: 150px;
  }
  .about_me_section {
    margin-bottom: 50px;
  }
}
