<section class="main_description no-select">
  <!-- Zusätzliche lila Bubbles außerhalb der about_me_section -->
  <div class="extra-bubbles">
    <div class="bubble bubble-1"></div>
    <div class="bubble bubble-2"></div>
    <div class="bubble bubble-3"></div>
    <!-- Weitere Bubbles nach Bedarf -->
  </div>

  <div id="about_me_section" class="about_me_section no-select">
    <img
      class="ellipse_klein"
      src="../../assets/img/Ellipse-klein.svg"
      alt="bubble"
    />

    <!-- Animated purple orbs -->
    <div class="animated-orbs">
      <div
        class="orb orb-1"
        [style.transform]="'translateY(' + orbPositions.orb1 + 'px)'"
      ></div>
      <div
        class="orb orb-2"
        [style.transform]="'translateY(' + orbPositions.orb2 + 'px)'"
      ></div>
      <div
        class="orb orb-3"
        [style.transform]="'translateY(' + orbPositions.orb3 + 'px)'"
      ></div>
      <div
        class="orb orb-4"
        [style.transform]="'translateY(' + orbPositions.orb4 + 'px)'"
      ></div>
    </div>

    <div
      class="content_about_me"
      style="display: flex; justify-content: space-between; align-items: center"
    >
      <div class="left_content_about_me">
        <p>{{ "START" | translate }}</p>
      </div>

      <div class="right_content_about_me">
        <p>
          {{ "ABOUT_ME_CONTENT" | translate }}
        </p>

        <a href="#contact_section" class="message_button">{{
          "SEND_MESSAGE" | translate
        }}</a>
      </div>
    </div>
  </div>
</section>
