<section id="start" class="main_startpage no-select">
  <div class="navbar">
    <a href="#about_me_section">About me</a>
    <a href="#skill_stack">Skill set</a>
    <a href="#project_section">My work</a>
  </div>
  <div class="content">
    <h2>Hi! Ich bin Lisa</h2>
    <p class="highlight">Frontend</p>
    <p class="highlight">Entwicklerin</p>
  </div>
  <div class="scroll">
    <p class="shake">SCROLL</p>
    <img class="line" src="../../assets/img/line.svg" alt="" />
  </div>
  <div class="social_media_buttons">
    <a href="mailto:mail@lisa-maria-kleiner.de"
      ><img src="../../assets/img/email.svg" alt=""
    /></a>
    <a
      href="https://de.linkedin.com/in/lisa-maria-kleiner-582107270"
      target="_blank"
      ><img src="../../assets/img/linkedin.svg" alt=""
    /></a>
    <a href="https://github.com/LisaMariaKleiner" target="_blank"
      ><img src="../../assets/img/github.svg" alt=""
    /></a>
  </div>
  <img src="../../assets/img/profilpic.png" alt="" class="profilpic" />
  <img src="../../assets/img/Ellipse 10.svg" alt="" class="circle_background" />
</section>
