<section id="start" class="main_startpage no-select">
  <img src="assets/img/Ellipse 10.svg" alt="" class="circle_background" />

  <div class="section_container">
    <div class="navbar">
      <label class="switch" [class.hide-dark-mode]="isMenuOpen">
        <input
          type="checkbox"
          [checked]="themeService.isDarkMode$ | async"
          (change)="toggleDarkMode()"
        />
        <span class="slider"></span>
      </label>
      <div class="language-switch" [class.hide-language-switch]="isMenuOpen">
        <button (click)="switchLanguage('de')" class="lang-button">
          <img
            src="assets/img/deutschland.png"
            alt="Deutsch"
            class="flag-icon"
          />
        </button>
        <button (click)="switchLanguage('en')" class="lang-button">
          <img
            src="assets/img/vereinigtes-konigreich.png"
            alt="English"
            class="flag-icon"
          />
        </button>
      </div>

      <div class="menu">
        <a href="#about_me_section">{{ "ABOUT_ME" | translate }}</a>
        <a href="#skill_stack">{{ "SKILL_SET" | translate }}</a>
        <a href="#project_section">{{ "MY_WORK" | translate }}</a>
      </div>

      <div class="hamburger" #hamburger (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div
        class="dropdown_menu"
        #dropdownMenu
        [class.open]="isMenuOpen"
        (click)="closeMenu()"
      >
        <a (click)="closeMenu()" href="#about_me_section">{{
          "ABOUT_ME" | translate
        }}</a>
        <a (click)="closeMenu()" href="#skill_stack">{{
          "SKILL_SET" | translate
        }}</a>
        <a (click)="closeMenu()" href="#project_section">{{
          "MY_WORK" | translate
        }}</a>
        <div class="language-switch-dropdown">
          <button (click)="switchLanguage('de')" class="lang-button">
            <img
              src="assets/img/deutschland.png"
              alt="Deutsch"
              class="flag-icon"
            />
          </button>
          <button (click)="switchLanguage('en')" class="lang-button">
            <img
              src="assets/img/vereinigtes-konigreich.png"
              alt="English"
              class="flag-icon"
            />
          </button>
          <button (click)="toggleDarkMode()" class="dark-mode-toggle-dropdown">
            <span class="dark-mode-icon">{{
              (themeService.isDarkMode$ | async) ? "☀️" : "🌙"
            }}</span>
          </button>
        </div>
      </div>
    </div>
    <div class="content">
      <h2>{{ "GREETING" | translate }}</h2>
      <p class="highlight">{{ "FRONTEND" | translate }}</p>
      <p class="highlight">{{ "DEVELOPER" | translate }}</p>
    </div>
    <div class="scroll">
      <p class="shake">SCROLL</p>
      <img class="line" src="assets/img/line.svg" alt="" />
    </div>
    <div class="social_media_buttons">
      <a href="mailto:mail@lisa-maria-kleiner.de"
        ><img src="assets/img/email.svg" alt=""
      /></a>
      <a
        href="https://de.linkedin.com/in/lisa-maria-kleiner-582107270"
        target="_blank"
        ><img src="assets/img/linkedin.svg" alt=""
      /></a>
      <a href="https://github.com/LisaMariaKleiner" target="_blank"
        ><img src="assets/img/github.svg" alt=""
      /></a>
    </div>
    <div class="image-container">
      <img src="assets/img/profilpic_startpage.png" alt="" class="profilpic" />
    </div>
  </div>
</section>
