<section class="contact_container">
  <h1>Kontakt</h1>
  <div class="contact_main_container">
    <div class="contact_description">
      <h2>Gibt es ein Problem zu lösen?</h2>
      <p>
        Kontaktiere mich über das Kontaktformular auf der rechten Seite. Ich bin
        gespannt von dir und deinem Unternehmen zu hören!
      </p>
      <span
        >Du suchst eine FullStack Entwicklerin? Dann zöger nicht länger -
        schreib mir!</span
      >
    </div>
    <div class="form_container">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Email address</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="name@example.com"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >Example textarea</label
        >
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
        ></textarea>
      </div>
    </div>
  </div>
</section>
