<section class="contact_container">
  <h1>Kontakt</h1>
  <div class="contact_main_container">
    <div class="contact_description">
      <h2>Gibt es ein Problem zu lösen?</h2>
      <p>
        Kontaktiere mich über das Kontaktformular auf der rechten Seite. Ich bin
        gespannt von dir und deinem Unternehmen zu hören!
      </p>
      <span
        >Du suchst eine FullStack Entwicklerin? Dann zöger nicht länger -
        schreib mir!</span
      >
    </div>
    <div class="form_container">
      <div class="contact-form">
        <form [formGroup]="form" (ngSubmit)="send()">
          <div>
            <label for="name">Name*:</label>
            <input
              required
              id="name"
              formControlName="name"
              pattern="[A-Za-z ]+"
            />
            <div
              *ngIf="form.get('name')?.invalid && form.get('name')?.touched"
              class="error"
            >
              Bitte gib deinen Namen ein.
            </div>
          </div>

          <div>
            <label for="email">E-Mail*:</label>
            <input
              required
              id="email"
              type="email"
              formControlName="email"
              pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
            />
            <div
              *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
              class="error"
            >
              Upps, deine E-Mail-Adresse vergessen?
            </div>
          </div>

          <div>
            <label for="phone">Telefonnummer:</label>
            <input
              placeholder="01234567891"
              id="phone"
              formControlName="phone"
            />
          </div>

          <div>
            <label for="message">Nachricht*:</label>
            <textarea
              required
              id="message"
              formControlName="message"
            ></textarea>
            <div
              *ngIf="
                form.get('message')?.invalid && form.get('message')?.touched
              "
              class="error"
            >
              Bitte gib deine Nachricht ein.
            </div>
          </div>
          <div class="datenschutz">
            <input
              type="checkbox"
              id="privacyPolicy"
              formControlName="privacyPolicy"
            />
            <label for="privacyPolicy">
              Die
              <a [routerLink]="['/legal-notice-dialog']"
                >Datenschutzerklärung</a
              >

              wurde gelesen und akzeptiert.
            </label>
            <div
              *ngIf="
                form.get('privacyPolicy')?.invalid &&
                form.get('privacyPolicy')?.touched
              "
              class="error"
            >
              Du musst die Datenschutzerklärung noch akzeptieren.
            </div>
          </div>
          <p class="pflichtfelder">* Pflichtfelder</p>
          <button type="submit" [disabled]="form.invalid">Absenden</button>
        </form>
      </div>
      <a href="#start"
        ><img
          matTooltipPosition="above"
          matTooltip="Zurück zum Start"
          class="back_to_start_button"
          src="../../assets/img/goupbutton.svg"
          alt="back to start button"
      /></a>
    </div>
  </div>
</section>
