<section
  id="contact_section"
  class="contact_container"
  [class.dark-theme]="themeService.isDarkMode$ | async"
>
  <div class="contact_main_container">
    <div class="contact_description">
      <h1>{{ "CONTACT" | translate }}</h1>

      <h2>{{ "SOLVEPROBLEM" | translate }}</h2>
      <p>
        {{ "CONTACTTEXT" | translate }}
      </p>
      <span>
        {{ "CONTACTTEXT2" | translate }}
      </span>
      <a href="#start" class="back_to_start_button">
        <img
          matTooltipPosition="above"
          class="back_to_start_button"
          src="../../assets/img/goupbutton.svg"
          alt="back to start button"
        />
      </a>
    </div>

    <div class="form_container">
      <div class="contact-form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div>
            <label for="name">Name*:</label>
            <input
              id="name"
              type="text"
              placeholder="Max Mustermann"
              formControlName="name"
              required
              pattern="[A-Za-z ]+"
            />
            <div
              class="error"
              *ngIf="form.get('name')?.touched && form.get('name')?.invalid"
            >
              <span *ngIf="form.get('name')?.errors?.['required']">
                {{ "ERRORNAME" | translate }}
              </span>
              <span *ngIf="form.get('name')?.errors?.['pattern']">
                {{ "ERRORLETTERS" | translate }}
              </span>
            </div>
          </div>

          <div>
            <label for="email">E-Mail*:</label>
            <input
              placeholder="max@mustermann.de"
              id="email"
              type="email"
              formControlName="email"
              required
              pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
            />
            <div
              class="error"
              *ngIf="form.get('email')?.touched && form.get('email')?.invalid"
            >
              <span *ngIf="form.get('email')?.errors?.['required']">
                {{ "ERRORMAIL" | translate }}
              </span>
              <span *ngIf="form.get('email')?.errors?.['email']">
                {{ "ERRORMAIL" | translate }}
              </span>
            </div>
          </div>

          <div>
            <label for="phone">{{ "PHONE" | translate }}:</label>
            <input
              placeholder="0123 12345678"
              id="phone"
              type="number"
              formControlName="phone"
              pattern="^[0-9]*$"
            />
            <div
              class="error"
              *ngIf="form.get('phone')?.touched && form.get('phone')?.invalid"
            >
              <span *ngIf="form.get('phone')?.errors?.['phone']">
                {{ "ERRORPHONE" | translate }}
              </span>
            </div>
          </div>

          <div>
            <label for="message">{{ "CONTACTMESSAGE" | translate }}*:</label>
            <textarea
              placeholder="{{ 'PLACEHOLDERMESSAGE' | translate }}"
              id="message"
              formControlName="message"
              required
            ></textarea>

            <div
              class="error"
              *ngIf="
                form.get('message')?.touched && form.get('message')?.invalid
              "
            >
              <span *ngIf="form.get('message')?.errors?.['required']">
                {{ "ERRORMESSAGE" | translate }}
              </span>
            </div>
          </div>

          <div class="datenschutz">
            <input
              type="checkbox"
              id="privacyPolicy"
              formControlName="privacyPolicy"
              required
            />
            <label for="privacyPolicy">
              <a [routerLink]="['/privacyPolicy']">{{
                "PRIVACYPOLICY" | translate
              }}</a>
              {{ "PRIVACYPOLICYTEXT" | translate }}.
            </label>
            <div
              class="error"
              *ngIf="
                form.get('privacyPolicy')?.touched &&
                form.get('privacyPolicy')?.invalid
              "
            >
              <span *ngIf="form.get('privacyPolicy')?.errors?.['required']">
                {{ "ERRORPRIVACYPOLICY" | translate }}.
              </span>
            </div>
          </div>

          <p class="pflichtfelder">* {{ "REQUIRED" | translate }}</p>
          <button type="submit" [attr.disabled]="form.invalid ? true : null">
            {{ "SUBMIT" | translate }}
          </button>
        </form>
      </div>
    </div>
    <div class="back_to_start_button2_container">
      <a href="#start" class="back_to_start_button2">
        <img
          matTooltipPosition="above"
          src="../../assets/img/goupbutton.svg"
          alt="back to start button"
        />
      </a>
    </div>
  </div>
</section>
