#opinion_section {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;

  h1 {
    font-family: "Baloo", sans-serif;
    color: white;
    font-size: 45px;
    margin: 0;
  }

  h3 {
    color: white;
    font-size: 32;
    margin-bottom: 80px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }

  .opinion_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: #c896fa;
    flex-wrap: wrap;
    gap: 20px;
    height: auto;
  }

  .opinions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
    width: 100%;
    gap: 50px;
    max-height: 60vh;

    .p1 {
      margin: 0;
    }
  }

  .opinion_name {
    font-size: 24px;
    padding: 0;
    margin-bottom: 0;
    font-family: "Baloo", sans-serif;
    margin: 0;
  }
}

.review_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 300px;
}

@media (max-width: 768px) {
  #opinion_section {
    padding: 1rem;
    flex-direction: column;

    h1 {
      font-size: 28px;
      padding-top: 20px;
    }

    h3 {
      font-size: 20px;
      margin-bottom: 60px;
    }

    .opinions {
      flex-direction: column;
      gap: 20px;
      overflow-y: auto;
      max-height: 100vh;
    }
  }
  .opinion_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  #opinion_section {
    padding: 0.5rem;

    h1 {
      font-size: 24px;
    }

    h3 {
      font-size: 20px;
      margin-bottom: 40px;
    }

    .opinions {
      flex-direction: column;
      gap: 20px;
      overflow-y: auto;
    }
  }
  .opinion_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 375px) {
  .opinions {
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    max-height: 100vh;
    padding-top: 170px;
  }
  .opinion_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 320px) {
  #opinion_section {
    padding: 0.25rem;

    h1 {
      font-size: 24px;
    }

    h3 {
      font-size: 20px;
      margin-bottom: 30px;
    }

    .opinion_content {
      flex-direction: column;
      align-items: center;
    }
  }
  .opinions {
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    max-height: 100vh;
  }
}

@media (max-width: 1075px) {
  #opinion_section {
    padding: 0.25rem;

    h1 {
      font-size: 20px;
    }

    h3 {
      font-size: 20px;
      margin-bottom: 30px;
    }
    .opinions_ {
      flex-direction: column;
      gap: 20px;
      overflow-y: auto;
      max-height: 100vh;
    }
  }
  .opinion_content {
    flex-direction: column;
    align-items: center;
    padding: 50px;
  }
}
