.legal-notice-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.legal-notice {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: justify;
  padding: 0px 50px;
  max-width: 1920px;
  width: 50%;

  p {
    text-align: justify;
    width: 100%;
  }
}

.back_to_start {
  background-color: #c896fa;
  color: white;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #c896fa;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: #c896fa;
  }
}
