<div id="project_section" class="projects_container no-select">
  <div class="projects_title"><span>My work</span></div>
  <div class="projects_subtitle">
    <p class="anthrazit">Entdecken Sie hier eine Auswahl meiner Arbeiten</p>
  </div>

  <div class="join_container">
    <div class="join_left">
      <img class="pc" src="../../assets/img/IMG_4722.PNG" alt="" />
      <img class="handy" src="../../assets/img/IMG_4718.JPEG" alt="" />
    </div>
    <div class="join_right">
      <span class="baloo title">JOIN</span>
      <p class="flieder">JavaScript | HTML | CSS</p>
      <p class="anthrazit, join_text">
        Ein vom Kanban-System inspirierter Aufgabenmanager. Erstelle und
        organisiere deine Aufgaben mithilfe von Drag-and-Drop-Funktionen oder
        weise Benutzer und Kategorien zu.
      </p>
      <div class="button_container">
        <a
          target="_blank"
          href="https://joincloneapp.netlify.app/"
          class="github_button flieder"
          >Try it!</a
        >

        <a
          target="_blank"
          href="https://github.com/LisaMariaKleiner/JoinClone"
          class="github_button flieder"
          >GitHub</a
        >
      </div>
    </div>
  </div>

  <div class="polloloco_container">
    <div class="polloloco_left">
      <span class="baloo title">El Pollo Loco</span>
      <p class="flieder">Javascript | HTML | CSS</p>
      <p class="anthrazit, polloloco_text">
        Spring-, Lauf- und Wurfspiel basierend auf einem objektorientierten
        Ansatz. Hilf Pepe, Münzen und Tabasco-Salsa zu finden, um gegen die
        verrückte Henne zu kämpfen.
      </p>
      <div class="button_container">
        <a
          target="_blank"
          href="https://github.com/LisaMariaKleiner/ElPolloLoco"
          class="github_button flieder"
          >GitHub</a
        >
        <a
          target="_blank"
          href="https://pollolocogame.netlify.app/"
          class="github_button flieder"
        >
          Play!</a
        >
      </div>
    </div>

    <div class="polloloco_right">
      <img class="handyPolloLoco" src="../../assets/img/IMG_4977.PNG" alt="" />
      <video autoplay loop muted>
        <source src="../../assets/img/Video.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
</div>
