<div id="project_section" class="projects_container no-select">
  <div class="projects_title">
    <span>{{ "MYWORK" | translate }}</span>
  </div>
  <div class="projects_subtitle">
    <p class="anthrazit">{{ "SELECTIONWORK" | translate }}</p>
  </div>

  <div class="join_container">
    <div class="join_left">
      <img class="pc" src="../../assets/img/IMG_4722.PNG" alt="" />
      <img class="handy" src="../../assets/img/IMG_4718.JPEG" alt="" />
    </div>
    <div class="join_right">
      <span class="baloo title">JOIN</span>
      <p class="flieder">JavaScript | HTML | CSS</p>
      <p class="anthrazit, join_text">
        {{ "JOINTEXT" | translate }}
      </p>
      <div class="button_container">
        <a
          target="_blank"
          href="https://joinapp.lisa-maria-kleiner.de"
          class="github_button flieder"
          >Live test</a
        >

        <a
          target="_blank"
          href="https://github.com/LisaMariaKleiner/JoinClone"
          class="github_button flieder"
          >GitHub</a
        >
      </div>
    </div>
  </div>

  <div class="polloloco_container">
    <div class="polloloco_left">
      <span class="baloo title">El Pollo Loco</span>
      <p class="flieder">JavaScript | HTML | CSS</p>
      <p class="anthrazit, polloloco_text">
        {{ "POLLOLOCOTEXT" | translate }}
      </p>
      <div class="button_container">
        <a
          target="_blank"
          href="https://github.com/LisaMariaKleiner/ElPolloLoco"
          class="github_button flieder"
          >GitHub</a
        >
        <a
          target="_blank"
          href="https://elpolloloco.lisa-maria-kleiner.de"
          class="github_button flieder"
        >
          Live test</a
        >
      </div>
    </div>

    <div class="polloloco_right">
      <img class="handyPolloLoco" src="../../assets/img/IMG_4977.PNG" alt="" />
      <img
        class="desktopPolloLoco"
        src="../../assets/img/polloLocoDesktop.PNG"
      />
    </div>
  </div>

  <div class="horsemanager_container">
    <div class="horsemanager_left">
      <img class="pc" src="../../assets/img/stallmanager_pc.png" alt="" />
      <img class="handy" src="../../assets/img/ihr-projekt-mobile.png" alt="" />
    </div>
    <div class="horsemanager_right">
      <span class="baloo title">Stallmanager</span>
      <p class="flieder">React | TypeScript | Supabase</p>

      <p class="anthrazit horsemanager_text">
        {{ "STALLMANAGERTEXT" | translate }}
      </p>
      <p>
        {{ "STALLMANAGERTEXT2" | translate }}
      </p>
    </div>
  </div>
</div>
