body {
  overflow: hidden;
}

a {
  text-decoration: none;
}
.projects_title {
  margin-top: 130px;
  display: flex;
  justify-content: flex-start;
  font-family: "Baloo", sans-serif;
  font-size: 96px;
  font-weight: 400;
  color: #c896fa;
  padding-left: 70px;
}

.flieder {
  color: #c896fa;
}

.anthrazit {
  color: #3b3b3b;
  font-size: 22px;
}

.baloo {
  font-family: "Baloo", sans-serif;
}

.projects_subtitle {
  display: flex;
  justify-content: flex-start;
  font-size: 23px;
  font-weight: 400;
  padding-left: 70px;
}

.join_container {
  display: flex;
  justify-content: center;
  align-items: center;

  .join_left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding-top: 30px;

    .handy {
      width: 100px;
      &:hover {
        transform: scale(2.7);
        transition: 0.5s;
      }
    }

    .pc {
      max-width: 500px;

      &:hover {
        transform: scale(1.4);
        transform-origin: left center;
        transition: 0.5s;
      }
    }
  }

  .join_right {
    display: flex;
    justify-content: center;
    align-items: start;
    flex: 1;
    flex-direction: column;
    padding: 80px;

    p {
      width: 50%;
    }
    .title {
      font-size: 45px;
      font-family: "Baloo", sans-serif;
      color: #c896fa;
    }

    .github_button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 137px;
      height: 65px;
      border: 2px solid #c896fa;
      border-radius: 10px;
      font-size: 23px;
      cursor: pointer;

      &:hover {
        background-color: #c896fa;
        color: white;
      }
    }
  }
}
.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.polloloco_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  align-items: start;
  flex: 1;
  padding: 80px;
}

.polloloco_left {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  text-align: end;
  flex: 1;

  p {
    width: 50%;
  }

  .title {
    font-size: 45px;
    font-family: "Baloo", sans-serif;
    color: #c896fa;
  }

  .github_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 137px;
    height: 65px;
    border: 2px solid #c896fa;
    border-radius: 10px;
    font-size: 23px;
    cursor: pointer;

    &:hover {
      background-color: #c896fa;
      color: white;
    }
  }
}

.polloloco_right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;

  .handyPolloLoco {
    width: 250px;
    border-bottom-right-radius: 20px;

    &:hover {
      transform: scale(1.4);
      transform-origin: right center;
      transition: 0.5s;
    }
  }

  video {
    width: 60%;
    height: auto;
    border: none;
    outline: none;
    display: block;
  }
}

@media only screen and (max-width: 1150px) {
  .projects_title {
    padding-left: 0;
    justify-content: center;
  }

  .projects_subtitle {
    padding-left: 0;
    justify-content: center;
  }

  .join_container {
    flex-direction: column;
    padding: 0;

    .join_left {
      padding: 0;
      justify-content: center;
      align-items: center;
      text-align: center;
      .pc {
        width: 60%;
      }
    }

    .join_right {
      padding: 0;
      justify-content: center;
      align-items: center;
      text-align: center;
      span {
        text-align: left;
      }
    }
  }

  .polloloco_container {
    flex-direction: column;
    padding: 0;

    .polloloco_left {
      padding: 0;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .polloloco_right {
      padding: 0;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (max-width: 376px) {
  a {
    width: 50%;
  }
  .projects_title {
    font-size: 60px;
  }
  .projects_subtitle {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .anthrazit {
    text-align: center;
  }
  .polloloco_text,
  .join_text {
    width: 80%;
  }
  .join_container {
    .join_right {
      .github_button {
        width: 80px;
        height: 40px;
      }
    }
  }
  .polloloco_left {
    .github_button {
      width: 80px;
      height: 40px;
    }
  }
}
