<app-header></app-header>
<div class="impressum">
  <h1>{{ "LEGALNOTICE" | translate }}</h1>

  <div class="impressum_container">
    <div class="impressum_left">
      <h2>{{ "INFO" | translate }}</h2>
      <p>
        Lisa Maria Kleiner<br />
        53945 Blankenheim
      </p>
    </div>

    <div class="impressum_divider"></div>

    <div class="impressum_right">
      <h2>{{ "CONTACT" | translate }}</h2>
      <p>E-Mail: mail&#64;lisa-maria-kleiner.de</p>
    </div>
  </div>

  <a class="back_to_start" [routerLink]="['/']">
    <p>{{ "BACKTOSTART" | translate }}</p>
  </a>
</div>

<app-sec-7-footer></app-sec-7-footer>
