.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40vh;
  background-color: #c896fa;

  span {
    cursor: pointer;

    &:hover {
      color: black;
    }
  }

  .info_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
  }

  .social_media_container {
    display: flex;
    gap: 20px;

    a img {
      width: 50px;
      transition: transform 0.5s ease;

      &:hover {
        transform: scale(1.2) rotate(360deg);
      }
    }
  }
}
