<section class="footer">
  <div class="info_footer">
    <h2>© Lisa Maria Kleiner</h2>
    <a [routerLink]="['/impressum']">{{ "LEGALNOTICE" | translate }}</a>

    <a
      style="text-decoration: none"
      href="javascript:void(0)"
      (click)="openLegalNotice()"
      >{{ "PRIVACYPOLICY" | translate }}</a
    >
  </div>
  <div class="social_media_container">
    <a
      href="https://de.linkedin.com/in/lisa-maria-kleiner-582107270"
      target="_blank"
      ><img src="../../assets/img/linkedinweiss.svg" alt=""
    /></a>
    <a href="https://github.com/LisaMariaKleiner" target="_blank"
      ><img src="../../assets/img/githubweiss.svg" alt=""
    /></a>
    <a href="mailto:mail@lisa-maria-kleiner.de"
      ><img src="../../assets/img/mailweiss.svg" alt=""
    /></a>
  </div>
</section>
