.outer_container {
  width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  background-color: #c896fa;

  span {
    cursor: pointer;

    &:hover {
      color: black;
    }
  }

  .info_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;

    a {
      text-decoration: none;
      color: white;
    }
  }

  .social_media_container {
    display: flex;
    gap: 20px;

    a img {
      width: 50px;
      transition: transform 0.5s ease;

      &:hover {
        transform: scale(1.2) rotate(360deg);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    height: 30vh;
  }
}

@media (max-width: 480px) {
  .footer {
    flex-direction: column;
    height: 30vh;
    justify-content: space-evenly;
  }
}

@media (max-width: 320px) {
  .footer {
    flex-direction: column;
    height: 30vh;
    justify-content: space-evenly;
  }
}
