<section class="footer">
  <div class="info_footer">
    <h2>© Lisa Maria Kleiner</h2>
    <span (click)="openLegalNoticeDialog()">Legal notice</span>
  </div>
  <div class="social_media_container">
    <a
      href="https://de.linkedin.com/in/lisa-maria-kleiner-582107270"
      target="_blank"
      ><img src="../../assets/img/linkedin.svg" alt=""
    /></a>
    <a href="https://github.com/LisaMariaKleiner" target="_blank"
      ><img src="../../assets/img/github.svg" alt=""
    /></a>
    <a href="mailto:mail@lisa-maria-kleiner.de"
      ><img src="../../assets/img/email.svg" alt=""
    /></a>
  </div>
</section>
