@font-face {
  font-family: "Montserrat";
  src: url("../src/fonts/Montserrat/Montserrat-Black.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Baloo";
  src: url("../src/fonts/baloo/Baloo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  scroll-behavior: smooth;
}
app-root {
  width: 100%;
  max-width: 1920px;
}

.no-select {
  user-select: none; /* Verhindert das Markieren des Textes */
  -webkit-user-select: none; /* Für Safari */
  -moz-user-select: none; /* Für ältere Versionen von Firefox */
  -ms-user-select: none; /* Für Internet Explorer/Edge */
}
